/*
    blue color : #3b40f0
    yellow color: #feca0c
*/
/*common*/
h3{
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
    margin-top: 10px;
}
h3 span{
    font-weight: 800;
    font-size: 50px;
    position: absolute;
    left: 0;
    top: -15px;
    color: rgba(53, 53, 53, 0.15);
    pointer-events: none;
    overflow-wrap: break-word;
}
/*_______header______*/
header{
    width: 100%;
    height: 100vh;
}
.header-container-1{
    width: 100%;
    height: 70vh;
    background-image: url(img/hero-img.jpg);
    background-position: right;
    background-size: cover;
    position: relative;
}
.sec-header-main{
    position: absolute;
    top: 20%;
    left: 90px;
}
h1{
    text-transform: lowercase;
    font-size: 70px;
    color: #fff;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: 900;
}
h2{
    margin-top: 20px;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: 400;
}
.header-container-2{
    height: 30vh;
}
.header-2-sec-1{
    background-color: #fff;
    height: 30vh;
    padding: 30px 40px;
}
.header-2-sec-2{
    background-color: #272eee;
    height: 30vh;
    padding: 30px 40px;
}
.sec-header-para-1{
    color: #333;
    font-size: 20px;
    font-weight: 300;
    margin: 0 60px;
    display: inline-block;
}
.sec-header-para-2{
    color: #fff;
    font-size: 20px;
    display: inline-block;
    font-weight: 300;
}
.sec-header-2-btn{
    color: #333;
    background-color: #fff;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 40px;
    box-shadow: 2px 4px 20px rgba(85, 85, 85, 0.623);
}
.sec-header-2-btn:hover{
    text-decoration: none;
    background-color: #ccc;
    color: #333
}
.sec-header-1-social-icon-container{
    margin-left: 60px;
    margin-top: 20px;
    display: block;
}
.sec-header-1-social-icon-container a{
    color: #fff;
    background-color: #272eee;
    padding: 10px 15px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 2px 3px 15px rgba(161, 161, 161, 0.342);
}
.sec-header-1-social-icon-container a:hover{
    text-decoration: none;
    background-color: #1a20c5;
}

/*_______________________section about___________________________*/
.section-about{
    background-color: #fff;
    padding: 40px;
}
.sec-about-h3{
    color: #feca0c;
    margin-bottom: 20px;
    margin-top: 10px;
}
.sec-about-h3 span{
    color: rgba(254, 202, 12, 0.15);
    font-size: 50px;
}
.sec-about-para-1{
    color: #555;
    font-size: 25px;
    font-weight: 300;
}
.sec-about-col-1{
    position: relative;
}
.sec-about-icon-1{
    color: #feca0c;
    padding: 30px 45px;
    background-color: #fff;
    box-shadow: 0 0 60px rgba(177, 177, 177, 0.3);
    font-size: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sec-about-col-1 span{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 10px;
    background-color: rgba(254, 202, 12, 0.5);
    animation: icon-animate 7s infinite;
    border-radius: 50%;
}
.sec-about-btn-1{
    display: inline-block;
    color: #fff;
    background-color: #feca0c;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 10px;
}
.sec-about-btn-1:hover{
    color: #fff;
    background-color: #d6a906;
    text-decoration: none;
}

/*_________________section-features_____________________*/
.section-features{
    background-color:#fff;
    padding: 40px 0;
}
.sec-feat-h3{
    color: #272eee;
}
.sec-feat-h3 span{
    color: rgba(39, 46, 238, 0.15);
}
.sec-features-col-1,
.sec-features-col-2,
.sec-features-col-3,
.sec-features-col-4{
    background-color: #fff;
    margin: 20px 0px;
    padding: 20px;
    border-radius: 13px;
    box-shadow: 0 0 35px rgba(177, 177, 177, 0.25);
    transition: transform 0.3s, background-color 0.3s;
}
.sec-features-col-1:hover,
.sec-features-col-2:hover,
.sec-features-col-3:hover,
.sec-features-col-4:hover{
    transform: scale(1.1);
    background-color: #fcfcfc;
}
.sec-features-col-1:hover i,
.sec-features-col-2:hover i,
.sec-features-col-3:hover i,
.sec-features-col-4:hover i{
    background-color: #feca0c;
    color: #fff;
}
.sec-features-col-1 p,
.sec-features-col-2 p,
.sec-features-col-3 p,
.sec-features-col-4 p{
    color: #555;
    font-weight: 300;
    font-size: 19px;
}
.sec-features-col-1 i,
.sec-features-col-2 i,
.sec-features-col-3 i,
.sec-features-col-4 i{
    color: #feca0c;
    padding: 20px;
    font-size: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 30px rgba(177, 177, 177, 0.4);
    transition: color 0.5s, background-color 0.5s;
}
.sec-features-col-1 i{
    padding-left: 25px;
    padding-right: 25px;
    /* background-color: #feca0c; */
}
.sec-features-col-2 i{
    /* background-color: #feca0c; */
}
.sec-features-col-3 i{
    /* background-color: #feca0c; */
}
.sec-features-col-4 i{
    /* background-color: #feca0c; */
}
/*____________section directions_____________*/
.section-directions{
    background-color: #fff;
    padding: 40px;
}
.sec-dir-h3{
    color: #272eee;
    margin-bottom: 20px;
    margin-top: 10px;
}
.sec-dir-h3 span{
    color: rgba(39, 46, 238, 0.15);
    font-size: 50px;
}
.sec-dir-para-1{
    color: #555;
    font-size: 25px;
    font-weight: 300;
}
.sec-dir-col-2{
    position: relative;
}
.sec-dir-icon-1{
    color: #272eee;
    padding: 30px 40px;
    background-color: #fff;
    box-shadow: 0 0 60px rgba(177, 177, 177, 0.3);
    font-size: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sec-dir-col-2 span{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 10px;
    background-color: rgba(39, 46, 238, 0.5);
    animation: icon-animate 7s infinite;
    border-radius: 50%;
}
.sec-dir-btn-1{
    display: inline-block;
    color: #fff;
    background-color: #272eee;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 10px;
}
.sec-dir-btn-1:hover{
    color: #fff;
    background-color: #1a20c5;
    text-decoration: none;
}
/*_________________________section apply_______________________*/
.section-apply{
    background-color: #fff;
    padding: 40px 0;
}
.sec-apply-col-1,
.sec-apply-col-2{
    text-align: center;
    box-shadow: 0 0 30px rgba(177, 177, 177, 0.2);
    border-radius: 20px;
    padding: 30px;
    padding-bottom: 60px;
    height: 100%;
    position: relative;
    transition: transform 0.3s;
}
.sec-apply-col-1:hover,
.sec-apply-col-2:hover{
    transform: translateY(10px);
}
.sec-apply-icon-1,
.sec-apply-icon-2{
    padding: 20px;
    margin: 20px;
    font-size: 40px;
    box-shadow: 0 0 30px rgba(177, 177, 177, 0.7);
    border-radius: 50%;
    color: #fff;
}
.sec-apply-icon-1{
    padding: 30px 25px;
    background-color: #272eee;
}
.sec-apply-icon-2{
    padding: 30px 34px;
    background-color: #feca0c;
    box-shadow: 0 0 30px rgba(177, 177, 177, 0.5);
}
.sec-apply-heading{
    text-transform: uppercase;
    font-size: 25px;
    color: #555;
}
.sec-apply-para{
    font-size: 20px;
    color: #555;
    font-weight: 300;
}
.sec-apply-btn-1,
.sec-apply-btn-2{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    padding: 10px 0;
    border-radius: 50px;
    color: #fff;
    transition: all 0.3s;
}
.sec-apply-btn-1{
    background-color: #272eee;
}
.sec-apply-btn-1:hover{
    background-color: #fff;
    color: #272eee;
    box-shadow: 0 2px 35px rgba(177, 177, 177, 0.4);
    text-decoration: none;
}
.sec-apply-btn-2:hover{
    background-color: #fff;
    color: #feca0c;;
    box-shadow: 0 2px 35px rgba(177, 177, 177, 0.4);
    text-decoration: none;
}
.sec-apply-btn-2{
    background-color: #feca0c;
}
/*__________________________________section message____________________________*/
.section-message{
    background-color: #fff;
    margin-top: 50px;
}
.sec-message-container{
    margin: 0 40px;
}
.sec-message-h3{
    color: #272eee;
}
.sec-message-h3 span{
    color: rgba(39, 46, 238, 0.15);
    font-size: 50px;
}
.sec-message-icon{
    font-size: 40px;
    color: rgba(39, 46, 238, 0.472);
}
.sec-message-para{
    font-size: 25px;
    font-weight: 300;
    text-indent: 55px;
}
.sec-message-img{
    margin-bottom: 20px;
    border-radius: 50%;
    width: 50px;
}
.principal-info-container{
    display: inline-block;
    margin-left: 20px;
}
.principal-name{
    display: block;
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
    color: #555;
}
.principal-qualification{
    display: block;
    margin: 0;
    font-size: 15px;
    color: #666;
}
/*__________________________________section message____________________________*/
.section-info{
    background-color: #272eee;
    padding: 30px 0;
    margin-top: 30px;
}
.sec-info-link-1,
.sec-info-link-2,
.sec-info-link-3{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 20px;
    font-weight: 300;
}
.sec-info-link-1:hover,
.sec-info-link-2:hover,
.sec-info-link-3:hover{
    color: #fff;
    text-decoration: none;
}
.sec-info-link-1 i,
.sec-info-link-2 i,
.sec-info-link-3 i{
    font-size: 25px;
    padding: 17px;
    background-color: #fff;
    color: #272eee;
    border-radius: 50%;
    margin-right: 10px;
}
.sec-info-link-1:hover i,
.sec-info-link-2:hover i,
.sec-info-link-3:hover i{
    color: #fff;
    background-color: #feca0c;
}
.sec-info-link-1 i{
    padding: 17px 22px;
}
.sec-info-link-3 i{
    padding: 17px 20px;
}
/*__________________________________animations____________________________*/
footer{
    border-top: 2px solid #feca0c;
    background-color: #1a20c5;
    margin: 0;
    padding: 10px;
    text-align: center;
}
footer p{
    margin: 0;
    display: inline-block;
    color: #aaa;
}
footer p i{
    color: #F03434;
}
footer p a{
    color: #aaa;
}
footer p a:hover{
    color: #aaa;
}
/*__________________________________animations____________________________*/
@keyframes icon-animate{
    0%{
        width: 100px;
        height: 100px;
        opacity: 1;
    }
    100%{
        width: 250px;
        height: 250px;
        opacity: 0;
    }
}
/*________________________________media queries____________________________*/
@media only screen and (max-width:600px){
    /*____common___*/
    h3{
        font-size: 30px;
    }
    h3 span{
        font-size: 30px;
    }
    .sec-about-h3 span{
        font-size: 40px;
    }
    .section-about,
    .section-apply,
    .section-directions{
        padding: 50px 10px;
    }
    .sec-dir-col-2,
    .sec-about-col-1{
        height: 200px;
        margin: 20px 0;
    }
    /*____header_____*/
    .header-container-1{
        height: 50vh;
        background: #feca0c;
    }
    .header-container-2{
        height: auto;
    }
    .sec-header-main{
        top: 15%;
        left: 20px;
    }
    .header-2-sec-1{
        height: auto;
        padding: 20px 30px;
    }
    .header-2-sec-2{
        height: auto;
        padding: 20px 30px;
    }
    h1{
        font-size: 50px;
    }
    h2{
        margin-top: 20px;
        font-size: 20px;
    }
    .sec-header-para-1{
        font-size: 20px;
        margin: 0;
        font-weight: 300;
    }
    .sec-header-para-2{
        font-size: 20px;
    }
    .sec-header-1-social-icon-container{
        margin-top: 20px;
        margin-left: 0;
    }
    /*sec-apply*/
    .sec-apply-col-parent,
    .sec-apply-col-parent{
        margin-top: 20px;
    }
    .sec-apply-col-1,
    .sec-apply-col-2{
        padding: 10px;
        padding-bottom: 65px;
    }
}