/*
    blue color : #3b40f0
    yellow color: #feca0c
*/
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
*{
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent !important;
}
h3{
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 40px;
}
h3 span{
    font-weight: 800;
    font-size: 70px;
    position: absolute;
    left: 0;
    top: -15px;
    color: rgba(53, 53, 53, 0.15);
    pointer-events: none;
    overflow-wrap: break-word;
}
/*_______header______*/
header{
    width: 100%;
    height: 100vh;
}
.header-container-1{
    height: 70vh;
    background-image: url(img/hero-img.jpg);
    background-position: right;
    background-size: cover;
    position: relative;
}
.sec-header-main{
    position: absolute;
    top: 20%;
    left: 90px;
}
h1{
    text-transform: lowercase;
    font-size: 70px;
    color: #fff;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: 900;
}
h2{
    margin-top: 20px;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-weight: 400;
}

/* .sec-header-btn{
    display: inline-block;
    color: #fff;
    background-color: #00a8ff;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 35px;
}
.sec-header-btn:hover{
    text-decoration: none;
    color: #fff;
    background-color: #0077b3;
} */
.header-container-2{
    height: 30vh;
}
.header-2-sec-1{
    background-color: #fff;
    height: 30vh;
    padding: 30px 40px;
    /* border-bottom: 6px solid #3b40f0; */
}
.header-2-sec-2{
    background-color: #272eee;
    height: 30vh;
    padding: 30px 40px;
    /* border-bottom: 6px solid #3b40f0; */
}
.sec-header-para-1{
    color: #333;
    font-size: 20px;
    margin: 0 60px;
    display: inline-block;
}
.sec-header-para-2{
    color: #fff;
    font-size: 20px;
    display: inline-block;
    font-weight: 300;
}
.sec-header-2-btn{
    color: #333;
    background-color: #fff;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 40px;
    box-shadow: 2px 4px 20px rgba(85, 85, 85, 0.623);
}
.sec-header-2-btn:hover{
    text-decoration: none;
    background-color: #ccc;
    color: #333
}
.sec-header-1-social-icon-container{
    margin-left: 60px;
    margin-top: 20px;
    display: block;
}
.sec-header-1-social-icon-container a{
    color: #fff;
    background-color: #272eee;
    padding: 10px 15px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 2px 3px 15px rgba(161, 161, 161, 0.342);
}
.sec-header-1-social-icon-container a:hover{
    background-color: #1a20c5;
}
/*__navigation__*/
.menu-active{
    background-color: #ccc;
}
.menu-icon{
    position: fixed;
    top: 40px;
    right: 50px;
    z-index: 99999;
}
#menu-icon-img{
    background-color: #272eee;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(105, 105, 105, 0.75);
    width: 50px;
}
nav ul{
    display: none;
    position: fixed;
    top: 100px;
    right: 50px;
    background-color: #272eee;
    border-radius: 10px;
    box-shadow: 0 0 10px #555;
    z-index: 999;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    width: 150px;
    text-align: center;
    transition: all 0.3s;
}
nav ul li a:hover{
    background-color: #fff;
    color: #272eee;
    text-decoration: none;
    transform: scale(1.1);
    box-shadow: 0 1px 20px #555;
}
/*_______________________section about___________________________*/
.section-about{
    background-color: #141414;
    padding: 40px;
}
.sec-about-h3{
    color: #272eee;
    margin-bottom: 20px;
    margin-top: 10px;
}
.sec-about-h3 span{
    color: rgba(39, 46, 238, 0.15);
    font-size: 50px;
}
.sec-about-col-1{
    position: relative;
}
.sec-about-icon-1{
    color: #272eee;
    padding: 30px 45px;
    background-color: #eee;
    font-size: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sec-about-col-1 span{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 10px;
    background-color: rgba(39, 46, 238, 0.5);
    animation: icon-animate 7s infinite;
    border-radius: 50%;
}
.sec-about-btn-1{
    display: inline-block;
    color: #fff;
    background-color: #272eee;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 10px;
}
.sec-about-btn-1:hover{
    color: #fff;
    background-color: #1a20c5;
    text-decoration: none;
}
.sec-about-para-1{
    color: #ccc;
    font-size: 25px;
    font-weight: 300;
}
/*_________________section-features_____________________*/
.section-features{
    background-color: #fff;
    padding: 30px 0;
}
.sec-features-col-1,
.sec-features-col-2,
.sec-features-col-3,
.sec-features-col-4{
    background-color: #fff;
    margin: 20px 0px;
    padding: 20px;
    border-radius: 13px;
    box-shadow: 0px 4px 30px 2px #ddd;
}
.sec-features-col-1 p,
.sec-features-col-2 p,
.sec-features-col-3 p,
.sec-features-col-4 p{
    color: #555;
}
.sec-features-col-1 i,
.sec-features-col-2 i,
.sec-features-col-3 i,
.sec-features-col-4 i{
    color: #fff;
    padding: 20px;
    font-size: 20px;
    background-color: #3b40f0;
    border-radius: 50%;
    margin-bottom: 20px;
}
.sec-features-col-1 i{
    padding-left: 25px;
    padding-right: 25px;
    background-color: #E53935;
}
.sec-features-col-2 i{
    background-color: #00a8ff;
}
.sec-features-col-3 i{
    background-color: #8E24AA;
}
.sec-features-col-4 i{
    background-color: #fbc531;
}

@keyframes icon-animate{
    0%{
        width: 100px;
        height: 100px;
        opacity: 1;
    }
    100%{
        width: 250px;
        height: 250px;
        opacity: 0;
    }
}