/*
    blue color : #3b40f0
    yellow color: #feca0c
*/
body{
    background-color: #fff;
}
.main-col-1{
    padding: 30px;
    padding-left: 50px;
    height: 100vh;
    background-color: #3b40f0;
}
.main-col-2{
    padding: 30px;
    height: 100vh;
    background-color: #fff;
}
/*_________col-1________*/
h1{
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    font-size: 60px;
    margin-top: 20px;
}
h2{
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    margin-top: 20px;
}
h2 ol{
    padding-left: 40px;
}
h2 ol li{
    margin-top: 15px;
}
.download-btn{
    display: inline-block;
    color: #333;
    background-color: #fff;
    border-radius: 60px;
    font-size: 20px;
    padding: 10px 25px;
    margin-top: 20px;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.2s;
}
.download-btn i{
    margin-right: 10px;
}
.download-btn:hover{
    text-decoration: none;
    background-color: #1a1d6d;
    color: #fff;
}
.call-btn{
    display: inline-block;
    color: #333;
    background-color: #fff;
    border-radius: 70px;
    font-size: 20px;
    padding: 10.5px 17.5px;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.2s;
}
.call-btn:hover{
    text-decoration: none;
    background-color: #1a1d6d;
    color: #fff;
}
/*_________col-2_________*/
form{
    margin-top: 60px;
    padding: 40px;
}
input[type=text]{
    display: block;
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 80px;
    border: 2px solid #fff;
    color: #555;
    box-shadow: 0 0 30px rgba(177, 177, 177, 0.2);
    transition: border 0.3s;
}
input[type=text]::placeholder{
    color: #ccc;
}
input[type=text]:focus{
    outline-color: transparent;
    border: 2px solid #3b40f0;
}
input[type=submit]{
    background-color: #feca0c;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 150px;
    padding: 15px 0;
    border: none;
    color: #fff;
    border-radius: 60px;
    box-shadow: 0 0 30px rgba(177, 177, 177, 0.2);
    transition: all 0.3s;
}
input[type=submit]:focus{
    outline-color: transparent;
    background-color: #3b40f0;
}
input[type=submit]:hover{
    background-color: #3b40f0;
}
/*________media queries_____*/
@media only screen and (max-width:600px){
    .main-col-1{
        padding: 30px;
    }
    .main-col-2{
        padding: 30px;
        height: 100vh;
        background-color: #fff;
    }
    /*_________col-1________*/
    h1{
        font-size: 40px;
        margin-top: 40px;
    }
    h2{
        font-size: 20px;
        margin-top: 20px;
    }
    h2 ol{
        padding-left: 40px;
    }
    .btn-container{
        margin-left: 20px;;
    }
    .call-btn{
        font-size: 15px;
    }
    .download-btn{
        font-size: 15px;
    }
    /*col-2*/
    form{
        margin-top: 20px;
        padding: 0px;
    }

}